<h1>Terms and Conditions</h1>
 
<h3>Last updated: September 8, 2018</h3>
 
Welcome to Qrato!
 <br>
 <br>
Please read these Terms and Conditions (“Terms”) carefully before using www.qrato.in/ - the “website” and the “Service” provided therein. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service or visit the website.
 
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the Terms, then you may not access the Service.
 
 
<h3>Terminology</h3>
The following terminology applies to these Terms and any or all Agreements: 
“Client”, “You” and “Your” refers to you, the person accessing this website and accepting M/s Qrato Web Services’ terms and conditions. “Ourselves”, “We”, “Our”, “Us” and “Qrato”, refers to our Partnership Enterprise(M/s Qrato Web Services). “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. 
 <br>
 <br>
All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, for the express purpose of meeting the Client’s needs in respect of provision of Qrato’s stated services/products, in accordance with and subject to, the prevailing law of India. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to the same. 

<h3>Service</h3>
Service is the https://www.qrato.in website operated by M/s Qrato Web Services.
 
 <br>
<h3>License</h3>
Unless otherwise stated, Qrato and/or its licensors own the intellectual property rights for all material on Qrato. All intellectual property rights are reserved. You may view and/or print pages from www.qrato.in/ for your own personal use subject to restrictions set in these Terms.
 <br>
 <br>
You must not: republish material from www.qrato.in/, sell, rent or sub-license material from www.qrato.in/, reproduce, duplicate or copy material from www.qrato.in/, redistribute content from Qrato (unless content is specifically made for redistribution). Hyperlinking to our Content is limited to the following organizations, which may link to our website without prior written approval: Government agencies, Search engines, News organizations, Online directory distributors when they list us in the directory may link to our website in the same manner as they hyperlink to the websites of other listed businesses, and System-wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our website. These organizations may link to our home page, to publications or to other website information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.
 <br>
 <br>
We may consider and approve in our sole discretion other link requests from the following types of organizations: online directory distributors, internet portals, and educational institutions and trade associations.
 <br>
 <br>
If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending an e-mail to contact@qrato.in. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response. Approved organizations may hyperlink to our website as follows:
<br>
By use of our name “Qrato”; or
<br>
By use of the uniform resource locator (Web address) being linked to; or
<br>
By use of any other description of our website or material being linked to that makes sense within the context and format of content on the linking party's site.
 <br>
 
<h3>Reservation of Rights</h3>
We reserve the right to compel, at any time, any organization referred to in the previous section, to remove all links or any particular link to our website. You agree to immediately remove all links to our website upon such request. We also reserve the right to amend these Terms at any time. By continuing to link to our website, all users agree to be bound to and abide by these linking Terms.	
 
 
<h3>Purchases</h3> 
If you wish to purchase the Service made available through Qrato ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your _____. 
 <br>
 <br>
“Your Content” shall mean any text, documents, images or any other material that you choose to give to Qrato. By using the Service you undertake to ensure that such content is your own and which does not invade any third-party rights. You retain ownership of all of your intellectual property rights in your Content. Qrato does not claim ownership over any of your Content. These Terms do not grant us any licenses or rights to your Content except for the limited rights needed for us to provide the Services, and as otherwise described in these Terms.
 <br>
 <br>
 
<h3>Fees and Payment </h3>
You will be billed in advance ________. 
    <br>
    <br>
 
<h3>Suspension and Termination of Services</h3>
Qrato may limit, suspend, or stop providing the Service to you if you fail to comply with these Terms (such as failure to pay fee when due), or if you use the Service in a way that causes legal liability to us or disrupts others’ use of the Service. Qrato may also terminate the Service if we are investigating suspected misconduct by you. If we suspend or terminate the Service you receive, we will endeavour to give you advance notice and an opportunity to export a copy of your Content from that Service. However, there may be time sensitive situations when Qrato may decide to take immediate action without notice. Qrato has no obligation to retain your Content upon termination of Service. 
<br>
<h3>Privacy Policy And Registration</h3>

All information(s) received from you for your use of the http://www.qrato.in/ will be used by M/s Qrato Web Services in accordance with our Privacy Policy. On registration, you must provide us with accurate, complete registration information and it is your responsibility to update and maintain changes to that information on the applicable Qrato site(http://www.qrato.in/) registration pages. This is particularly important if you subscribe to any paid services or info-mails or newsletters of Qrato.
<br>
<br>
On registration, you will be either given a Username and Password. Qrato does not permit any other person sharing his Username and Password or Access to multiple users. Qrato may cancel or suspend access to the Qrato sites if you do this without prior written consent. Each registered member is individually responsible for usage of any type of Qrato information or anyone else using your ID and for preventing unauthorised use of your ID or registration info. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID or any payment information, you must notify Qrato immediately by emailing at contact@qrato.in. We recommend you to change password of your Username on regular basis to avoid any misuse.
<br>
<br>
If you provide Qrato with an email address or phone number that results in any emails or SMS messages from Qrato being sent to you via a computer network or telephone operated or owned by a third party (e.g. your employer or your institution) then you warrant that you are entitled to receive those messages. You also agree that Qrato may refrain from sending messages to you without notifying you, even if you have subscribed to receive them, if we receive a request from a third party to stop sending emails or SMS messages to you.
<br>
<br>
 
 
<h3>Confidentiality</h3>
Qrato will treat your Content as confidential information and only use and disclose it in accordance with these terms. However, your Content is not regarded as confidential information if such Content: (a) is or becomes public (other than through breach of these Terms by Qrato); (b) was lawfully known to Qrato before receiving it from you; (c) is received by Qrato from a third party without knowledge of breach of any obligation owed to you; or (d) was independently developed by Qrato without reference to your Content. Qrato may disclose your Content when required by law or legal process, but only after Qrato, if permitted by law, uses commercially reasonable efforts to notify you to give you the opportunity to challenge the requirement to disclose.
 
 
<h3>Security</h3>
Qrato will store and process your Content in a manner consistent with industry security standards. Qrato has implemented appropriate technical, organizational, and administrative systems, policies, and procedures designed to help ensure the security, integrity, and confidentiality of your Content and to mitigate the risk of unauthorized access to or use of your Content.
 
 
<h3>Limitation of Liability </h3>
In no event shall Qrato be held liable for anything arising out of or in any way connected with your use of this website, whether such liability is under contract. Qrato shall also not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this website. 
 
 
<h3>Indemnification</h3>
You hereby agree to indemnify Qrato to the fullest extent from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms. 
 
 
<h3>Variation of Terms </h3>
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
 
 
<h3>Entire Agreement </h3>
These Terms constitute the entire agreement between Qrato and all its users in relation to the use of this website, and supersede all prior agreements and understandings. 
 
 
<h3>Severability</h3>
If any provision of the Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions therein. 
 
 
<h3>Disclaimer</h3>
To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:
limit or exclude our or your liability for death or personal injury resulting from negligence;
limit or exclude our or your liability for fraud or fraudulent misrepresentation;
limit any of our or your liabilities in any way that is not permitted under applicable law; or
exclude any of our or your liabilities that may not be excluded under applicable law.
 
 
<h3>Governing Law and Jurisdiction </h3>
These Terms will be governed by and interpreted in accordance with the laws of India, and all users submit to the exclusive jurisdiction of the courts located in India for the resolution of any disputes.   
